<p id="notice"><%= notice %></p>

<p>
  <strong>Rank:</strong>
  <%= @result.rank %>
</p>

<p>
  <strong>Table number:</strong>
  <%= @result.table_number %>
</p>

<p>
  <strong>Degeree of progress:</strong>
  <%= @result.degeree_of_progress %>
</p>

<p>
  <strong>Table point:</strong>
  <%= @result.table_point %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
